.headings {
    color: maroon;
    font-weight: bold;
    text-align: center
};

.btn {
    color: aquamarine;
}

p {
    font-size: 20px;
    color: indigo
}

img {
    border-radius: 10px;
    border-color: brown;
    border-width: 30px;
}